<mat-progress-bar mode="indeterminate" *ngIf="loading"></mat-progress-bar>
<div class="main-content">
  <div class="container-fluid">
      <div class="row">
        <div class="col-lg-12 col-md-12">
          <div class="card">
              <div class="card-header card-header-warning">
                  <h4 class="card-title">Items</h4>
              </div>
              <div class="card-body table-responsive">
                <div class="row">
                  <div class="col-3">
                    <mat-form-field class="example-full-width">
                      <input matInput placeholder="Item Name" [(ngModel)]="item.itemName"/>
                    </mat-form-field>
                  </div>
                  <div class="col-2">
                    <mat-form-field class="example-full-width">
                      <input matInput placeholder="Unit" [(ngModel)]="item.itemUnit"/>
                    </mat-form-field>
                  </div>
                  <div class="col-2">
                    <mat-form-field class="example-full-width">
                      <input matInput placeholder="Quantity" [(ngModel)]="item.itemQuantity"/>
                    </mat-form-field>
                  </div>
                  <div class="col-3">
                    <mat-form-field class="example-full-width" *ngIf="categories">
                      <mat-label>Category</mat-label>
                      <mat-select [(ngModel)]="item.categoryId">
                        <mat-option *ngFor="let category of categories" [value]="category.id">
                          {{category.categoryName}}
                        </mat-option>
                      </mat-select>
                    </mat-form-field>
                  </div>
                  <div class="col-2">
                    <button (click)="add()"
                    mat-raised-button type="button" matTooltip="Save" [matTooltipPosition]="'above'" 
                    class="btn btn-primary btn-link btn-sm btn-just-icon">
                      <i class="fa fa-plus"></i>
                    </button>
                  </div>
                </div>
                <div class="row">
                  <div class="col">
                    <input #fileInput class="form-control" type="file" (change)="onChange($event)"> 
                  </div>
                  <div class="col">
                    <button (click)="onUpload()"
                    mat-raised-button type="button" matTooltip="Upload" [matTooltipPosition]="'above'" 
                    class="btn btn-primary btn-link btn-sm btn-just-icon">
                      <i class="fa fa-upload"></i>
                    </button>
                  </div>
                </div>




                <table class="mat-elevation-z8 demo-table" mat-table [dataSource]="dataSource" matSort>
                  <ng-container matColumnDef="id">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>Id</th>
                    <td mat-cell *matCellDef="let item">{{item.id}}</td>
                  </ng-container>
                  <ng-container matColumnDef="itemName">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>Item Name</th>
                    <td mat-cell *matCellDef="let item">
                      <ng-container *ngIf="!item.isEditEnabled">
                        {{item.itemName}}
                      </ng-container>
                      <ng-container *ngIf="item.isEditEnabled">
                        <mat-form-field class="example-full-width">
                          <input matInput [(ngModel)]="item.itemName"/>
                        </mat-form-field>
                      </ng-container>
                    </td>
                  </ng-container>
                  <ng-container matColumnDef="itemUnit">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>Item Unit</th>
                    <td mat-cell *matCellDef="let item">
                      <ng-container *ngIf="!item.isEditEnabled">
                        {{item.itemUnit}}
                      </ng-container>
                      <ng-container *ngIf="item.isEditEnabled">
                        <mat-form-field class="example-full-width">
                          <input matInput [(ngModel)]="item.itemUnit"/>
                        </mat-form-field>
                      </ng-container>
                    </td>
                  </ng-container>
                  <ng-container matColumnDef="itemQuantity">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>Item Quantity</th>
                    <td mat-cell *matCellDef="let item">
                      <ng-container *ngIf="!item.isEditEnabled">
                        {{item.itemQuantity}}
                      </ng-container>
                      <ng-container *ngIf="item.isEditEnabled">
                        <mat-form-field class="example-full-width">
                          <input matInput [(ngModel)]="item.itemQuantity"/>
                        </mat-form-field>
                      </ng-container>
                    </td>
                  </ng-container>
                  <ng-container matColumnDef="categoryName">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>Category</th>
                    <td mat-cell *matCellDef="let item">
                      <ng-container *ngIf="!item.isEditEnabled">
                        {{item.categoryName}}
                      </ng-container>
                      <ng-container *ngIf="item.isEditEnabled">
                        <mat-form-field class="example-full-width" *ngIf="categories">
                          <mat-label>Category</mat-label>
                          <mat-select [(ngModel)]="item.categoryId">
                              <mat-option *ngFor="let category of categories" [value]="category.id">
                                {{category.categoryName}}
                              </mat-option>
                          </mat-select>
                        </mat-form-field>
                      </ng-container>
                    </td>
                  </ng-container>
                  <ng-container matColumnDef="action">
                    <th mat-header-cell *matHeaderCellDef>Action</th>
                    <td mat-cell *matCellDef="let category">
                      <button *ngIf="!category.isEditEnabled" (click)="edit(category)"
                        mat-raised-button type="button" matTooltip="Edit" [matTooltipPosition]="'above'" 
                        class="btn btn-primary btn-link btn-sm btn-just-icon">
                        <i class="fa fa-edit"></i>
                      </button>
                      <button *ngIf="category.isEditEnabled" class="" (click)="close(category)"
                        mat-raised-button type="button" matTooltip="Close" [matTooltipPosition]="'above'" 
                        class="btn btn-primary btn-link btn-sm btn-just-icon">
                        <i class="fa fa-close"></i>
                      </button>
                      <button *ngIf="category.isEditEnabled" class="" (click)="save(category)"
                        mat-raised-button type="button" matTooltip="Save" [matTooltipPosition]="'above'" 
                        class="btn btn-primary btn-link btn-sm btn-just-icon">
                        <i class="fa fa-save"></i>
                        </button>
                    </td>
                  </ng-container>
                  <tr mat-header-row *matHeaderRowDef="columns"></tr>
                  <tr mat-row *matRowDef="let row; columns: columns;"></tr>
                </table>
              </div>
              <mat-paginator
                showFirstLastButtons
                [pageSizeOptions]="pagination.pageSizes" [pageSize]="pagination.pageSize"
                [pageIndex]="pagination.pageIndex" [length]="pagination.totalCount"
                (page)="changePage($event)"
                aria-label="Select page of Categories">
              </mat-paginator>
          </div>
        </div>
      </div>
  </div>
</div>
